.light{

align-items: center;
justify-content: center;
background-color: antiquewhite;
} 

.dark { 
    background-color: rgb(0, 0, 0);
}

.navbar {
    background-color:rgba(87, 85, 82, 0.792);
    position: fixed;
    height:10%;
    margin-top: 1%;
    width: 99%;
    border-radius: 1em;
    content: " ";
    clear: both;
    display: table;
}
  
 
.list { 
    display: flex;
    flex-wrap: wrap;
    gap:8rem;
    
}
 .list-item {
    list-style-type:none;
    font-family: cursive;
    color: aliceblue;
    font-size:large;
    font-weight: bold;
}

.list-item:hover { 
 
border-bottom: 4px solid ; 
padding: 2px;
  
}

.container { 
    position: absolute;
    width:80%;
    height: 50vh;
    margin-top:25%;
    margin-left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    gap: 2rem; 
    justify-content: center;
    align-items: center;    

} 

 
.hours , .seconds , .minutes{ 

    background-color: rgba(87, 85, 82, 0.792);
    position: relative;
    width: 30%;
    height: 80%;
    border-radius: 2rem ;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
} 
 

 .hrs , .mins , .sec , .header{ 
 position: relative;
    background-color: antiquewhite;
width: 40%;
height: 80%;
background-color: transparent;
height: auto;
font-family:cursive;
font-weight: bold;
font-style: oblique;
font-size: xx-large;
margin-bottom: 0%;
color: aliceblue;
text-align: center;

 }
  
  .header { 
    background-color:cadetblue;
    border-radius: 1rem 2rem;
    text-align: center;
    color:antiquewhite ;
  }
  
  @media (max-width: 700px){
    .list{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap:1rem;
    }
.list-item { 
width: 30%;
font-size: large;
} 

}


@media (max-width: 1025px) {

  
    
    .container {
        margin-top: 50vh;
        
    }

.hours , .seconds , .minutes{ 
position: relative;
    background-color: rgba(33, 31, 29, 0.792);
    position: relative;
    flex-direction: column;
    width: 80%;
    height: 30%;
    border-radius: 2rem ;
    gap: 1REM;
border: 1px solid navajowhite;
    /*To clearfix the content on decreasing the size */
    content: "";
    clear: both;
    display: table;
}



.hrs , .mins , .sec , .header{ 
    position: relative;
       background-color: antiquewhite;
   width:auto;
   height: auto;
   background-color: transparent;
   height: auto;
   font-family:cursive;
   font-weight: bold;
   font-style: oblique;
   font-size: xx-large;
   color: aliceblue;
   text-align: center;
   justify-content: center;
   
    } 
     
    .header { 
     
        background-color:cadetblue;
        border-radius: 1rem 2rem;
        text-align: center;
        color:wheat;
        
      }
  }
  